body{
    text-align: center;
    padding-top: 800px;
}
#soccor{
    width:300px;
    border-radius: 500%;
}
h1{
    color: aliceblue;
    font-family: 'Caveat', cursive;
}
.icu {
    list-style: none;
    font-family: cursive;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
    color: aliceblue;
}

.link {
    float: left;
    font-size: 20px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5;
}
#welcome {
    z-index: 9;
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #000103;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height: 100%;
    background: linear-gradient(#050001 0%,#2cf005 100%);
}
a{
    text-decoration: none;
    color: aliceblue;
}
#myhoddy{
    font-family: 'Calligraffitti', cursive;
}
.link: h0ver{
  background-color: aqua;
    
}